<div *ngIf="activeType" style="margin-bottom: 50px">
  <div class="navigation">
    <a routerLink="/pokemon/{{(activeType.id)-1}}" class="btn btn-default"
       style="width: 49.5%; background-image: none">← Prev</a>
    <a routerLink="/pokemon/{{(activeType.id)+1}}" class="btn btn-default pull-right"
       style="width: 49.5%; background-image: none">Next →</a>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title {{activeType.name}}">#{{activeType.id}} {{activeType.name | capitalize}} <span
        class="label label-danger pull-right">Generation: {{activeType.generation.name | capitalize}}</span></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="page-header">Damage relations:</h4>
            <div class="col-lg-4">
              <h5 class="page-header">Half damage from:</h5>
              <ul class="list-group">
                <li class="list-group-item " *ngFor="let relation of activeType.damage_relations.half_damage_from"><a
                  routerLink="/types/{{relation.name}}" class="{{relation.name}}">{{relation.name | capitalize}}</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5 class="page-header">No damage from:</h5>
              <ul class="list-group">
                <li class="list-group-item " *ngFor="let relation of activeType.damage_relations.no_damage_from"><a
                  routerLink="/types/{{relation.name}}" class="{{relation.name}}">{{relation.name | capitalize}}</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5 class="page-header">Double damage from:</h5>
              <ul class="list-group">
                <li class="list-group-item " *ngFor="let relation of activeType.damage_relations.double_damage_from"><a
                  routerLink="/types/{{relation.name}}" class="{{relation.name}}">{{relation.name | capitalize}}</a>
                </li>
              </ul>
            </div>
          </div>
        <div class="col-lg-12">
            <div class="col-lg-4">
              <h5 class="page-header">Half damage to:</h5>
              <ul class="list-group">
                <li class="list-group-item " *ngFor="let relation of activeType.damage_relations.half_damage_to"><a
                  routerLink="/types/{{relation.name}}" class="{{relation.name}}">{{relation.name | capitalize}}</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5 class="page-header">No damage to:</h5>
              <ul class="list-group">
                <li class="list-group-item " *ngFor="let relation of activeType.damage_relations.no_damage_to"><a
                  routerLink="/types/{{relation.name}}" class="{{relation.name}}">{{relation.name | capitalize}}</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5 class="page-header">Double damage to:</h5>
              <ul class="list-group">
                <li class="list-group-item " *ngFor="let relation of activeType.damage_relations.double_damage_to"><a
                  routerLink="/types/{{relation.name}}" class="{{relation.name}}">{{relation.name | capitalize}}</a>
                </li>
              </ul>
            </div>
          <!--
        <h4 class="page-header">Abilities:</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ability of activePokemon.abilities"><a
            routerLink="/abilities/{{ability.ability.name}}">{{ability.ability.name | capitalize}} <span
            class="badge pull-right" *ngIf="ability.is_hidden">Hidden</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<h4 class="page-header">Moves: </h4>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let move of activePokemon.moves">
    <a routerLink="/moves/{{move.move.name}}">{{move.move.name | capitalize }}</a>
  </li>
</ul>

<h4 class="page-header">Sprites:</h4>
<div class="well">
  <img src="{{activePokemon.sprites?.front_default}}" alt="" class="img-thumbnail">
  <img src="{{activePokemon.sprites?.front_female}}" alt="" class="img-thumbnail">
  <img src="{{activePokemon.sprites?.front_shiny}}" alt="" class="img-thumbnail">
  <img src="{{activePokemon.sprites?.front_shiny_female}}" alt="" class="img-thumbnail">
  <img src="{{activePokemon.sprites?.back_default}}" alt="" class="img-thumbnail">
  <img src="{{activePokemon.sprites?.back_female}}" alt="" class="img-thumbnail">
  <img src="{{activePokemon.sprites?.back_shiny}}" alt="" class="img-thumbnail">
  <img src="{{activePokemon.sprites?.back_shiny_female}}" alt="" class="img-thumbnail">
</div>
</div>
-->
