<div *ngIf="pokemonList">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter pokemon name..." [(ngModel)]="pokemonId"
           (change)="updateId()" aria-describedby="basic-addon2">
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let pokemon of updateId()"><a routerLink="/pokemon/{{pokemon.name}}">{{pokemon.name
      | capitalize}}</a></li>
  </ul>
  <button type="button" class="btn btn-default" style="width: 49%; background-image: none;" (click)="prevPageNav()">
    Previous page
  </button>
  <button type="button" class="btn btn-default" style="width: 49%; background-image: none;" (click)="nextPageNav()">Next
    Page
  </button>
</div>
