.panel {
  width: 23%;
  display: inline-block;
  margin-right: 5px;
}

.panel-heading {
  background-image: none;
  background-color: white;
  border-bottom: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #343d46;
}
