.panel-default > .panel-heading {
  background-color: white;
  background-image: none;
}

.well {
  background-color: white;
  background-image: none;
}

.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}

.navigation {
  margin-bottom: 10px;
}

.page-header {
  margin: 0px 0px 20px;
}

.from {
  margin-bottom: 10px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #343d46;
}
