<div class="panel panel-default" *ngFor="let pokemon of generation['pokemon_species']">
  <div class="panel-heading">
    <a href="/pokemon/{{pokemon.name }}"><h4 class="panel-title text-center">{{pokemon.name | capitalize }}</h4></a>
    <!--<p class="text-center"><span *ngFor="let type of pokemon.types" class="{{type.type.name}}">{{type.type.name | capitalize}} </span></p>-->
  </div>
  <div class="panel-body">
    <!--<img class="card-img-top" src="{{pokemon.spriteUrl}}" alt="{{pokemon.name}}" class="center-block">-->
  </div>
</div>

