<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a routerLink="/pokemon">
        <img src="https://images.genius.com/80e6a717128e97c831288d0bd1bf8774.1000x826x1.png" alt="" class="center-block" style="width:30%; height: 30%; margin-top: 20px">
      </a>
    </li>
    <li>
      <a routerLink="/pokemon" routerLinkActive="active">Pokemon List</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/types">Types</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/moves">Moves</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/abilities">Abilities</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/items">Items</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="true" routerLinkActive="active">
        Generations
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let gen of generations"><a routerLink="/generations/{{(gen.url).slice(-2, -1)}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{gen.name | capitalize}}</a></li>
      </ul>
  </ul>
</div>
