.panel-default > .panel-heading {
  background-color: white;
  background-image: none;
}

.well {
  background-color: white;
  background-image: none;
}

.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}

