<div *ngIf="activePokemon" style="margin-bottom: 50px">
  <div class="navigation">
    <a routerLink="/pokemon/{{(activePokemon.id)-1}}" class="btn btn-default"
       style="width: 49.5%; background-image: none">← Prev</a>
    <a routerLink="/pokemon/{{(activePokemon.id)+1}}" class="btn btn-default pull-right"
       style="width: 49.5%; background-image: none">Next →</a>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
    <span class="panel-title">#{{activePokemon.id}} {{activePokemon.name | capitalize}} <span>&#8226;</span><a
      style="cursor: pointer"
      *ngFor="let type of activePokemon.types"
      class="{{type.type.name}}"
      routerLink="/types/{{type.type.name}}"> {{type.type.name | capitalize }} </a></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <img src="{{activePokemon.sprites.front_default}}" alt="{{activePokemon.name}}" class="img-thumbnail" *ngIf="activePokemon.sprites.front_default">
          <img src="http://www.nderf.org/images/page_404.jpg" alt="404" class="img-thumbnail" *ngIf="!activePokemon.sprites.front_default">
          <a class="btn btn-default" style="width: 106px; margin-top: 5px; background-image: none; background-color: white;" routerLink="/pokemon/{{activePokemon.id}}/encounters">Encounters</a>
        </div>
        <div class="col-lg-10">
          <span class="label label-default">Height: {{activePokemon.height}}</span>
          <span class="label label-default">Weight: {{activePokemon.weight}}</span>
          <br>
          <h4 class="page-header">Base stats:</h4>
          <span class="label label-default">Experience: {{activePokemon.base_experience}}</span>
          <span class="label label-primary">{{activePokemon.stats[0].stat.name | capitalize}}: {{activePokemon.stats[0].base_stat}}</span>
          <span class="label label-warning">{{activePokemon.stats[1].stat.name | capitalize}}: {{activePokemon.stats[1].base_stat}}</span>
          <span class="label label-info">{{activePokemon.stats[2].stat.name | capitalize}}: {{activePokemon.stats[2].base_stat}}</span>
          <span class="label label-success">{{activePokemon.stats[3].stat.name | capitalize}}: {{activePokemon.stats[3].base_stat}}</span>
          <span class="label label-default">{{activePokemon.stats[4].stat.name | capitalize}}: {{activePokemon.stats[4].base_stat}}</span>
          <span class="label label-danger">{{activePokemon.stats[5].stat.name | capitalize}}: {{activePokemon.stats[5].base_stat}}</span>
          <h4 class="page-header">Abilities:</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ability of activePokemon.abilities"><a
              routerLink="/abilities/{{ability.ability.name}}">{{ability.ability.name | capitalize}} <span
              class="badge pull-right" *ngIf="ability.is_hidden">Hidden</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h4 class="page-header">Sprites:</h4>
  <div class="well">
    <img src="{{activePokemon.sprites?.front_default}}" alt="" class="img-thumbnail">
    <img src="{{activePokemon.sprites?.front_female}}" alt="" class="img-thumbnail">
    <img src="{{activePokemon.sprites?.front_shiny}}" alt="" class="img-thumbnail">
    <img src="{{activePokemon.sprites?.front_shiny_female}}" alt="" class="img-thumbnail">
    <img src="{{activePokemon.sprites?.back_default}}" alt="" class="img-thumbnail">
    <img src="{{activePokemon.sprites?.back_female}}" alt="" class="img-thumbnail">
    <img src="{{activePokemon.sprites?.back_shiny}}" alt="" class="img-thumbnail">
    <img src="{{activePokemon.sprites?.back_shiny_female}}" alt="" class="img-thumbnail">
  </div>
  <h4 class="page-header">Moves: </h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let move of activePokemon.moves">
      <a routerLink="/moves/{{move.move.name}}">{{move.move.name | capitalize }}</a>
    </li>
  </ul>
</div>
